/* ----------------------------------------
    !default style start
-----------------------------------------*/
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ----------------------------------------
    !default style end
-----------------------------------------*/
/* ----------------------------------------
    !repeat style start
-----------------------------------------*/
/* ----------------------------------------
    !repeat style end
-----------------------------------------*/
